@{
    ViewData["Title"] = "About Our Small Company";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>

    <p>
        We are a small family owned and operated business and have been serving our local community since 1999. Our origins were simple.
        At the time, Gary (founder and owner) was a taxidermist who often needed a name placard for various mounts.
        It was quickly apparent there was a lack of trophy and engraving shops near our small town to do this type of work.
    </p>
    <p>
        We first began by offering simple plaques and engraved gifts and have since expanded to a more robust catalog.
        We operate from two households in central Texas. The business has always been a small project for our family and we're excited for the future of our small company.
    </p>
    <p>
        Our roots are humble and we always strive to find a good solution at a fair price for our customers.
    </p>
    <p>
        Thank you for visiting and please let us know if we can help you with your event or project.
    </p>
</div>
