@model Stripe.Charge
@{
    ViewData["Title"] = "Payment Result";
}

<div class="container text-center">
    <h2>Thank you!</h2>
    <h3>Your payment of @($"{(decimal)Model.Amount/100:c}") was successful.</h3>
    <a href="@(Model.ReceiptUrl)" target="_blank">
        <h4>Click here to view your receipt.</h4>
    </a>
</div>