<nav class="navbar navbar-expand-lg navbar-light semi-transparent">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index", "Dashboard")">LNG Laserworks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @{
                    var navItems = new Dictionary<string, string> {
                        { "Dashboard", "Home" },//controller, desc
                        { "Invoice", "Invoices" },
                        { "Customer", "Customers" },
                        { "Item", "Item Types" },
                        { "PriceList", "Price List" },
                        { "Configuration", "Configuration" }
                    };

                    foreach (var nav in navItems)
                    {
                        <li class="nav-item @(nav.Key.ToLower() == ViewBag.ActiveAction?.ToString().ToLower() ? "active" : "")">
                            <a class="nav-link" asp-controller="@nav.Key" asp-action="Index">@nav.Value</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>