<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
            <div class="header-logo">
                <a href="/">
                    <img title="" alt="LNG Laserworks" src="~/images/logo.png" class="img-fluid">
                </a>
            </div>
        </div>
        <div class="col-md-6 align-self-center">
            <nav class="navbar navbar-expand justify-content-center justify-content-md-end header-links p-0 pb-1">
                <ul class="navbar-nav">

                    @*<li class="nav-item">
                            <a href="/register" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a href="/login" class="nav-link">Log in</a>
                        </li>*@
                    <li class="nav-item">
                        <a href="@Url.Action("About","Home")" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Contact","Home")" class="nav-link">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Privacy","Home")" class="nav-link">Privacy Policy</a>
                    </li>
                </ul>
            </nav>
            <form method="get" id="small-search-box-form" action="/search">
                <div class="input-group">
                    <input type="text" class="form-control ui-autocomplete-input" id="small-searchterms" autocomplete="off" name="q" placeholder="Search store">

                    <span class="input-group-append">
                        <input type="submit" class="btn btn-secondary" value="Search">
                    </span>
                </div>
            </form>
        </div>
    </div>
    <hr />
</div>