@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3>We're very sorry that this error has occurred, please contact us with any questions or concerns. This error has been logged and will be looked into!</h3>
